<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:t="http://myfaces.apache.org/tomahawk"
xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>
<h2>Create vacation offer</h2>
<f:view transient="true">
<h:form enctype="multipart/form-data">
<table>
   	<tr><td>Title</td><td><p:inputText id="nazwa" value="#{offerBean.title}" required="true"/></td></tr>
    <tr><td>Short description</td><td><p:inputText id="adres" value="#{offerBean.shortDescription}" required="true"/></td></tr>
    <tr><td>Long description</td><td><p:inputText id="kontakt" value="#{offerBean.longDescription}" required="true"/></td></tr>
    <tr><td>Price</td><td><p:inputText id="opis" value="#{offerBean.price}" required="true"><f:convertNumber/></p:inputText></td></tr>
    <tr><td>Starting date</td><td><p:calendar pattern="dd/MM/yyyy" name="startDate" value="#{offerBean.startDate}"/></td></tr>
    <tr><td>End date</td><td><p:calendar pattern="dd/MM/yyyy" name="endDate" value="#{offerBean.endDate}"/></td></tr>
    <tr><td>Photo</td><td><p:inputText value="#{offerBean.photoURL}"/></td></tr>    
    <tr><td></td><td><p:commandButton id="addButton" action="#{offerBean.addOffer}" value="Add offer"/></td></tr>
</table>
</h:form>
</f:view>
</h:body>
</html>