<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core">
<head>
        <title>Landing page</title>
    </head>
    <body>
        <h1>Generic Travel Agency #4</h1>
    <h:form>
    <h:commandButton action="create_offer?faces-redirect=true" value="Create an offer" /><br/><br/>
    <h:commandButton action="view_offers?faces-redirect=true" value="View all offers" />
	</h:form>
    </body>

</html>