<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:t="http://myfaces.apache.org/tomahawk"
xmlns:p="http://primefaces.org/ui">
<head>
</head>
<body>
      <h:dataTable value="#{offerBean.offer}" var="offer">
      <h:column>
      	<f:facet name="header">Photo</f:facet>
      	<img src="#{offer.photoURL}" height="300" width="400"/>
      </h:column>
      <h:column>
      	<f:facet name="header">Title</f:facet>
      	<h:outputLabel name="title" value="#{offer.title}"/>
      </h:column>
      <h:column>
      	<f:facet name="header">Description</f:facet>
      	<h:outputLabel name="short" value="#{offer.longDescription}"/>
      </h:column>
      
      <h:column>
      	<f:facet name="header">Price</f:facet>
      	<h:outputLabel name="price" value="#{offer.price}"/>
      </h:column>
      <h:column>
      	<f:facet name="header">Start date</f:facet>
      	<p:outputLabel name="startDate" value="#{offer.startDate}"/>
      </h:column>
      <h:column>
      	<f:facet name="header">End date</f:facet>
      	<p:outputLabel name="endDate" value="#{offer.endDate}"/>
      </h:column>
		<h:column>
			<f:facet name="header">Code</f:facet>
			<p:barcode value="#{offer.asText}" type="qr"/>
		</h:column>

      </h:dataTable>
</body>
</html>