<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:ui="http://java.sun.com/jsf/facelets"
xmlns:h="http://java.sun.com/jsf/html"
xmlns:f="http://java.sun.com/jsf/core"
xmlns:t="http://myfaces.apache.org/tomahawk"
xmlns:p="http://primefaces.org/ui">
<h:head>

</h:head>
<h:body>
<h1>Register now!</h1>
<h:form>
<table>
	<tr><td><p:outputLabel value="Choose your user name"/></td><td><p:inputText name="userName" value="#{userBean.userName}" required="true"/></td></tr>
	<tr><td><p:outputLabel value="Name"/></td><td><p:inputText name="name" value="#{userBean.name}" required="true"/></td></tr>
	<tr><td><p:outputLabel value="Surname"/></td><td><p:inputText name="surname" value="#{userBean.surname}" required="true"/></td></tr>
	<tr><td><p:outputLabel value="Email"/></td><td><p:inputText name="email" value="#{userBean.email}" required="true"/></td></tr>
	<tr><td><p:outputLabel value="Pesel"/></td><td><p:inputText name="pesel" value="#{userBean.pesel}" required="true"/></td></tr>
	<tr><td><p:outputLabel value="Date of birth"/></td><td><p:calendar name="birthday" value="#{userBean.birthday}" required="true"/></td></tr>
	<tr><td><p:outputLabel value="Country"/></td><td><p:inputText name="country" value="#{userBean.country}" required="true"/></td></tr>
</table>
<p:commandButton id="submit" value="Register" action="#{userBean.addUser}"/>
</h:form>

</h:body>
</html>