<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
 <h:body>   
      <h1>Offer list</h1><br/>
      <h:form enctype="multipart/form-data">
      <h:dataTable value="#{offerBean.offerList}" var="offer">
      <h:column>
      	<f:facet name="header">Title</f:facet>
      	<p:outputLabel name="title" value="#{offer.title}"/>
      </h:column>
      <h:column>
      	<f:facet name="header">Short description</f:facet>
      	<p:outputLabel name="short" value="#{offer.shortDescription}"/>
      </h:column>
      <h:column>
      	<f:facet name="header">Price</f:facet>
      	<p:outputLabel name="price" value="#{offer.price}"/>
      </h:column>
	<h:column>
	<f:facet name="header">View offer</f:facet>
	
	<h:commandLink value="investigate" action="#{offerBean.singleOffer}" actionListener="#{offerBean.listener}"><f:param name="id" value="#{offer.id}"/></h:commandLink>
	
	</h:column>
    </h:dataTable>
      </h:form>
</h:body>
</html>